/*------------------------------------*\
    $ICONS
\*------------------------------------*/

@font-face {
  font-family: 'icons';
  src:url('../fonts/icons.eot');
  src:url('../fonts/icons.eot') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-available-for-hire:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-fast-forward:before {
  content: "\e602";
}
.icon-github:before {
  content: "\e603";
}
.icon-google:before {
  content: "\e604";
}
.icon-mail:before {
  content: "\e605";
}
.icon-multiple-professions:before {
  content: "\e606";
}
.icon-skype:before {
  content: "\e607";
}
.icon-twitter:before {
  content: "\e608";
}
.icon-wide-range-of-skills:before {
  content: "\e609";
}
.icon-xing:before {
  content: "\e60a";
}
