/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

@mixin increaseHitArea($size: 12px) {
  display: inline-block;
  padding: $size;
  margin: -$size;
}

@mixin breakpoint($point) {
  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if($point == $name) {   
      @media #{$declaration} { @content; }
    }
  }
}
