/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

html { font-size: 100%; }
body {
  margin-right: $baseLineHeight;
  margin-left: $baseLineHeight;
  background: $backgroundColor;
  color: $textColor;
  font-size: $baseFontSize;
  font-family: "Lato", sans-serif;
  line-height: stripUnit($baseLineHeight);
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin-top: $baseLineHeight * 2;
  margin-bottom: $baseLineHeight;
}
h1 {
  font-size: $baseFontSize * pow($modularScale, 3);
  line-height: $baseLineHeight * 1.5;
}
h2 {
  font-size: $baseFontSize * pow($modularScale, 2);
  line-height: $baseLineHeight * 1.5;
}
h3 {
  font-size: $baseFontSize * $modularScale;
  line-height: $baseLineHeight;
}

p, ul, ol, pre, blockquote {
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
}
small, aside {
  font-size: $baseLineHeight * 0.5;
}
p + p {
  margin-top: -$baseLineHeight;
  text-indent: $baseFontSize;
}

a:link,
a:visited {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: $pureOrange;
  text-decoration: none;
}
a:hover,
a:active { color: desaturate($pureOrange, 100%); }

strong { font-weight: bold; }
em { font-style: italic; }
pre, code { font-family: Consolas, Monaco, monospace; }

ul { list-style: disc outside; }
ol { list-style: decimal outside; }
ul, ol { padding-left: $baseLineHeight; }

blockquote {
  padding-left: $baseLineHeight;
  padding-right: $baseLineHeight;
  [lang="de"] &,
  &[lang="de"] {
    p:first-of-type:before { content: $character-ldquo-de; }
    p:last-of-type:after { content: $character-rdquo-de; }
  }
  [lang="en"] &,
  &[lang="en"] {
    p:first-o€f-type:before { content: $character-ldquo-en; }
    p:last-of-type:after { content: $character-rdquo-en; }
  }
  footer {
    text-align: right;
    margin-top: -$baseLineHeight;
  }
}



/*------------------------------------*\
    $TOOLS
\*------------------------------------*/

/**
 * Some paragraphs need a special styling that differs from normal text.
 */
%styledParagraph {
  & + & {
    margin-top: $baseLineHeight;
    text-indent: 0;
  }
}
