/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
/**
 * $DISPLAY......Display utilities
 * $SIZE.........Size utilities
 * $WIDTH........Width utilities
 *
 * These are taken from https://github.com/suitcss/utils 
 * and change certain traits of an element.
 */



/*------------------------------------*\
    $DISPLAY
\*------------------------------------*/

@mixin displayUtilities($namespace: "") {
  .#{$namespace}u-hidden { display: none !important; }
  .#{$namespace}u-transparent { visibility: hidden !important; }

  .#{$namespace}u-inline { display: inline !important; }
  .#{$namespace}u-inlineBlock { display: inline-block !important; }
  .#{$namespace}u-block { display: block !important; }
  .#{$namespace}u-table { display: table !important; }
  .#{$namespace}u-tableCell { display: table-cell !important; }
}

@include displayUtilities();

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $declaration: nth($breakpoint, 2);

  @media only screen and #{$declaration} {
    @include displayUtilities("#{$name}-");
  }
}



/*------------------------------------*\
    $SIZE
\*------------------------------------*/

.u-sizeFit,
.u-sizeFitAlt {
  display: block !important;
  float: left !important;
  width: auto !important;
}
.u-sizeFitAlt {
  float: right !important;
}

.u-sizeFill {
  display: block !important;
  overflow: hidden !important;
  width: auto !important;
}
.u-sizeFillAlt {
  display: table-cell !important;
  max-width: 100% !important;
  width: 10000px !important;
}

.u-sizeFull {
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: block !important;
  width: 100% !important;
}



/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/

@mixin widthUtilities($namespace: "") {

    /**
     * Whole
     */
    .#{$namespace}u-sizeOneWhole         { width: 100%; }


    /**
     * Halves
     */
    .#{$namespace}u-sizeOneHalf          { width: 50%; }


    /**
     * Thirds
     */
    .#{$namespace}u-sizeOneThird         { width: 33.333%; }
    .#{$namespace}u-sizeTwoThirds        { width: 66.666%; }


    /**
     * Fourths
     */
    .#{$namespace}u-sizeOneFourth       { width: 25%; }
    .#{$namespace}u-sizeTwoFourths      { @extend .#{$namespace}u-sizeOneHalf; }
    .#{$namespace}u-sizeThreeFourths    { width: 75%; }


    /**
     * Fifths
     */
    .#{$namespace}u-sizeOneFifth         { width: 20%; }
    .#{$namespace}u-sizeTwoFifths        { width: 40%; }
    .#{$namespace}u-sizeThreeFifths      { width: 60%; }
    .#{$namespace}u-sizeFourFifths       { width: 80%; }


    /**
     * Sixths
     */
    .#{$namespace}u-sizeOneSixth         { width: 16.666%; }
    .#{$namespace}u-sizeTwoSixths        { @extend .#{$namespace}u-sizeOneThird; }
    .#{$namespace}u-sizeThreeSixths      { @extend .#{$namespace}u-sizeOneHalf; }
    .#{$namespace}u-sizeFourSixths       { @extend .#{$namespace}u-sizeTwoThirds; }
    .#{$namespace}u-sizeFiveSixths       { width: 83.333%; }


    /**
     * Eighths
     */
    .#{$namespace}u-sizeOneEighth        { width: 12.5%; }
    .#{$namespace}u-sizeTwoEighths       { @extend .#{$namespace}u-sizeOneFourth; }
    .#{$namespace}u-sizeThreeEighths     { width: 37.5%; }
    .#{$namespace}u-sizeFourEighths      { @extend .#{$namespace}u-sizeOneHalf; }
    .#{$namespace}u-sizeFiveEighths      { width: 62.5%; }
    .#{$namespace}u-sizeSixEighths       { @extend .#{$namespace}u-sizeThreeFourths; }
    .#{$namespace}u-sizeSevenEighths     { width: 87.5%; }


    /**
     * Tenths
     */
    .#{$namespace}u-sizeOneTenth         { width: 10%; }
    .#{$namespace}u-sizeTwoTenths        { @extend .#{$namespace}u-sizeOneFifth; }
    .#{$namespace}u-sizeThreeTenths      { width: 30%; }
    .#{$namespace}u-sizeFourTenths       { @extend .#{$namespace}u-sizeTwoFifths; }
    .#{$namespace}u-sizeFiveTenths       { @extend .#{$namespace}u-sizeOneHalf; }
    .#{$namespace}u-sizeSixTenths        { @extend .#{$namespace}u-sizeThreeFifths; }
    .#{$namespace}u-sizeSevenTenths      { width: 70%; }
    .#{$namespace}u-sizeEightTenths      { @extend .#{$namespace}u-sizeFourFifths; }
    .#{$namespace}u-sizeNineTenths       { width: 90%; }


    /**
     * Twelfths
     */
    .#{$namespace}u-sizeOneTwelfth       { width: 8.333%; }
    .#{$namespace}u-sizeTwoTwelfths      { @extend .#{$namespace}u-sizeOneSixth; }
    .#{$namespace}u-sizeThreeTwelfths    { @extend .#{$namespace}u-sizeOneFourth; }
    .#{$namespace}u-sizeFourTwelfths     { @extend .#{$namespace}u-sizeOneThird; }
    .#{$namespace}u-sizeFiveTwelfths     { width: 41.666% }
    .#{$namespace}u-sizeSixTwelfths      { @extend .#{$namespace}u-sizeOneHalf; }
    .#{$namespace}u-sizeSevenTwelfths    { width: 58.333%; }
    .#{$namespace}u-sizeEightTwelfths    { @extend .#{$namespace}u-sizeTwoThirds; }
    .#{$namespace}u-sizeNineTwelfths     { @extend .#{$namespace}u-sizeThreeFourths; }
    .#{$namespace}u-sizeTenTwelfths      { @extend .#{$namespace}u-sizeFiveSixths; }
    .#{$namespace}u-sizeElevenTwelfths   { width: 91.666%; }

}

@include widthUtilities();

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $declaration: nth($breakpoint, 2);

  @media only screen and #{$declaration} {
    @include widthUtilities("#{$name}-");
  }
}
