/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/*!
 * http://www.manuelwieser.com/
 * office@manuelwieser.com
 */

*, *:before, *:after {
  box-sizing: border-box;
}

@import "variables";
@import "functions";
@import "mixins";

@import "reset";
@import "typography";

@import "utilities";
@import "icons";



/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/**
 * These follow a naming convention proposed by Nicolas Gallagher.
 * https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
 */

@import "components/Banner";
@import "components/Footer";
@import "components/Grid";
@import "components/Introduction";
@import "components/Photoset";
@import "components/Work";



/*------------------------------------*\
    $MICROFORMATS
\*------------------------------------*/
/**
 * In the near future these may be replaced by RDFa.
 * http://microformats.org/wiki/microformats2
 */

.h-resume {
  .p-summary {
    font-size: $baseFontSize * $modularScale;
    line-height: $baseLineHeight * 1.25;
  }
}
