/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/*!
 * http://www.manuelwieser.com/
 * office@manuelwieser.com
 */

*, *:before, *:after {
  box-sizing: border-box;
}

.js body { visibility: hidden; }
.ready body { visibility: visible; }

@import "variables";
@import "functions";
@import "mixins";

@import "reset";
@import "typography";

@import "utilities";
@import "icons";



/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/**
 * These follow a naming convention proposed by Nicolas Gallagher.
 * https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
 */

@import "components/Banner";
@import "components/Footer";
@import "components/Grid";
@import "components/Introduction";
@import "components/Photoset";
@import "components/Work";
