---
layout: default
description: I’m a front-end developer and versatile digital artist. I’m into building websites and creating content for real-time rendering, film and animation. I’m also a bearded hacker making games with my friends.
---

<section class="Introduction u-row">
  <h2 class="Introduction-bigText">Hi, I’m Manuel.</h2>
  <p class="Introduction-smallText">
    I make websites,<br>
    games and digital art.
  </p>
</section>

<section class="u-row">
  <ul class="Grid Grid--gutter">
    {% for post in site.posts %}
      <li class="Grid-item Work smaller-u-sizeOneHalf medium-u-sizeOneThird large-u-sizeOneFourth larger-u-sizeOneFifth js-grid">
        <div class="Work-thumbnail Work-thumbnail--framed js-rhythm">
          <img src="{{ site.url }}/images/{{ post.picture }}" alt="{{ post.title }}">
        </div>
        <h2 class="Work-title">{{ post.title }}</h2>
        <p class="Work-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        {% if post.article %}
          <p><a href="{{ post.url }}">{{ post.url }}</a></p>
        {% endif %}
        {% for hash in post.links %}
          {% for link in hash %}
            <p class="Work-link">
              <a href="{{ link[1] }}">{{ link[0]] }}&nbsp;<i class="icon-arrow"></i></a>
            </p>
          {% endfor %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</section>
