---
layout: default
description: I’m a front-end developer and versatile digital artist. I’m into building websites and creating content for real-time rendering, film and animation. I’m also a bearded hacker making games with my friends.
---

<section class="Introduction u-row">
  <h2 class="Introduction-bigText">Hi, I’m Manuel.</h2>
  <p class="Introduction-smallText">
    I make websites,<br>
    games and digital art.
  </p>
  <!--
  <p class="Introduction-link">
    <a href="#contact">GET IN TOUCH</a>
    <i class="icon-fast-forward"></i>
  </p>
  -->
</section>

<section class="u-row">
  <ul class="Grid Grid--gutter">
    {% for post in site.posts %}
      <li class="Grid-item Work smaller-u-sizeOneHalf medium-u-sizeOneThird large-u-sizeOneFourth larger-u-sizeOneFifth js-grid">
        <div class="Work-thumbnail js-rhythm">
          <img src="{{ site.url }}/images/{{ post.picture }}" alt="{{ post.title }}">
        </div>
        <!-- <p class="Work-category">{{ post.categories }}</p> -->
        <h2 class="Work-title">{{ post.title }}</h2>
        <p class="Work-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        {% if post.article %}
          <p><a href="{{ post.url }}">{{ post.url }}</a></p>
        {% endif %}
        {% for hash in post.links %}
          {% for link in hash %}
          <p class="Work-link"><a href="{{ link[1] }}">{{ link[0]] }} <i class="icon-arrow"></i></a></p>
          {% endfor %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</section>

<!--
<section>
  <h2>Multiple professions</h2>
  <p>
    I’m a front-end developer and versatile digital artist. I’m into building websites and creating content for real-time rendering, film and animation. I’m also a bearded hacker making games with my friends.
  </p>

  <h2>Wide range of skills</h2>
  <p>I speak the language of software engineers, interaction designers and creative directors alike. and Thus I can serve as an important link between teams. Being a multimedia all-rounder you can use my skills in many different fields in the pipeline and I’m eager to learn even more.</p>

  <h2>Available for hire</h2>
  <p>Yes, you can hire me to create your websites, games, and digital art. Apart from my full-time employment I do freelance work in Linz, Austria. Contact me now and we can start discussing your next project today.</p>
</section>
-->
