/*------------------------------------*\
    $BANNER
\*------------------------------------*/
/**
 * <div class="Banner">
 *   <div class="Banner-logo">
 *     <img src="{{logo}}.svg">
 *     <img src="{{logo}}.png">
 *   </div>
 *   <h1 class="Banner-heading">{{heading}}</h1>
 *   <p class="Banner-tagline">{{tagline}}</p>
 * </div>
 */

.Banner { font-size: .75rem; }

.Banner-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: relativeFontSize(4);
  line-height: relativeLineHeight(2.5, 4);
  margin-top: relativeLineHeight(1, 4);
  margin-bottom: relativeLineHeight(1, 4);
}

.Banner-tagline {
  margin-top: relativeLineHeight(-1.5);
}

.Banner-logo {
  float: left;
  line-height: relativeLineHeight(2.5);
  img {
    vertical-align: middle;
    margin-right: relativeLineHeight(0.5);
    width: relativeLineHeight(3.5);
    height: relativeLineHeight(3.5) / $logoAspectRatio;
  }
}

@include breakpoint("medium") {
  .Banner { font-size: $baseFontSize; }  
}
