/*------------------------------------*\
    $BANNER
\*------------------------------------*/
/**
 * <div class="Banner">
 *   <div class="Banner-logo">
 *     <img src="{{logo}}.svg">
 *     <img src="{{logo}}.png">
 *   </div>
 *   <div class="Banner-text">
 *    <h1 class="Banner-text-heading">{{heading}}</h1>
 *    <p class="Banner-text-tagline">{{tagline}}</p>
 *   </div>
 * </div>
 */

.Banner { 
  font-size: .75rem; 
  display: table;
  @include breakpoint("medium") { font-size: $baseFontSize; }
}

.Banner-logo {
  line-height: relativeLineHeight(2.5);
  img {
    vertical-align: middle;
    margin-right: relativeLineHeight(0.5);
    width: relativeLineHeight(3.5);
    height: relativeLineHeight(3.5) / $logoAspectRatio;
  }
}

.Banner-logo,
.Banner-text {
  display: table-cell;
  vertical-align: top;
}

.Banner-text-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: relativeFontSize(4);
  line-height: relativeLineHeight(2.5, 4);
  margin-top: 0;
  margin-bottom: relativeLineHeight(1, 4);
}

.Banner-text-tagline {
  margin-top: relativeLineHeight(-1.5);
}
