/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * <div class="Footer">
 *   …
 * </div>
 */

/**
 * 1. Intended paragraphs only look good for long text passages.
 * 2. Margins should collapse although the text is in floated elements.
 */
.Footer {
  overflow: hidden;
  margin-top: $baseLineHeight;
  background-color: $textColor;
  color: $backgroundColor;
  a { white-space: nowrap; }
  p { @extend %styledParagraph; } /* [1] */
  .Grid-item > :last-child { margin-bottom: 0; } /* [2] */
}

.Footer-portrait {
  display: block;
  margin-top: $baseLineHeight * 2;
  border-radius: 50%;
}

.Footer-linkList {
  padding-left: 0;
  list-style: none;
}

.Footer-linkList-item {
  a {
    display: block;
    border-bottom: 1px solid rgba($backgroundColor, .25);
    color: $backgroundColor;
    line-height: $baseLineHeight * 1.75;
  }
  &:last-child a { border-bottom-width: 0; }
  [class^="icon-"] {
    display: inline-block;
    min-width: $baseLineHeight * 2;
    vertical-align: -.175em;
    font-size: $baseLineHeight;
  }
}

.Footer-copyright {
  margin-top: $baseLineHeight * 2;
  margin-bottom: 0;
  padding-top: $baseLineHeight;
  padding-bottom: $baseLineHeight;
  background-color: darken($textColor, 5%);
  a {
    color: inherit;
    text-decoration: underline;
  }
}
