/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * The footer has some special elements and makes heavy use of the grid system.
 */



/**
 * 1. I want my margins to collapse although the text is in floated elements.
 */
.Footer {
  overflow: hidden;
  margin-right: -$baseLineHeight;
  margin-left: -$baseLineHeight;
  padding-right: $baseLineHeight;
  padding-left: $baseLineHeight;
  background-color: $textColor;
  color: $backgroundColor;
  p { @extend %styledParagraph; }
  .Grid-item > :last-child { margin-bottom: 0; } /* [1] */
}

.Footer-portrait {
  display: block;
  margin-top: $baseLineHeight * 2;
  width: 100%;
  border-radius: 50%;
}

.Footer-linkList {
  padding-left: 0;
  list-style: none;
}

.Footer-linkList-item {
  a {
    display: block;
    border-bottom: 1px solid rgba($backgroundColor, .25);
    color: $backgroundColor;
    line-height: $baseLineHeight * 1.75;
  }
  &:last-child a { border-bottom-width: 0; }
  [class^="icon-"] {
    display: inline-block;
    min-width: $baseLineHeight * 2;
    vertical-align: -.175em;
    font-size: $baseLineHeight;
  }
}

.Footer-copyright {
  margin-right: -$baseLineHeight;
  margin-bottom: 0;
  margin-left: -$baseLineHeight;
  padding: $baseLineHeight;
  background-color: darken($textColor, 5%);
}
