/*------------------------------------*\
    $WORK
\*------------------------------------*/
/**
 * <li class="Work">
 *   <img class="Work-thumbnail" src="{{image}}">
 *   <p class="Work-category">{{category}}</p>
 *   <h2 class="Work-title">{{title}}</h2>
 *   <p class="Work-excerpt">{{excerpt}}</p>
 * </li>
 */

.Work {
  padding-top: $baseLineHeight;
  padding-bottom: $baseLineHeight;
  list-style: none;
  a { word-wrap: break-word; }
  p { @extend %styledParagraph; }
  :last-child { margin-bottom: 0; }
}

.Work-thumbnail {
  width: 100%;
}
.Work-category {
  margin-top: 0;
  margin-bottom: -$baseLineHeight;
  color: $pureOrange;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-size: $baseFontSize / $modularScale;
  line-height: $baseLineHeight;
}
.Work-title {
  margin-top: $baseLineHeight;
}
