<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title  %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,400italic,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:300,700">
    <script src="{{ site.url }}/js/modernizr.js"></script>
  </head>
  <body>

      <header class="Banner u-row">
        <div class="Banner-logo">
          <img src="{{ site.url }}/images/logo.svg" alt="Logo">
        </div>
        <div class="Banner-text">
          <h1 class="Banner-text-heading">Manuel Wieser</h1>
          <p class="Banner-text-tagline">Front-End Developer & Digital Artist</p>
        </div>

      </header>

      {{ content }}

      <footer class="Footer">
        <div class="Grid Grid--gutter u-row">

          <div class="Grid-item smaller-u-sizeTwoFifths medium-u-sizeOneThird large-u-sizeOneFifth">
            <img class="Footer-portrait" src="{{ site.url }}/images/manuel.jpg" alt="Portrait">
          </div>

          <div class="Grid Grid--gutter Grid-item smaller-u-sizeThreeFifths medium-u-sizeTwoThirds large-u-sizeFourFifths">
            <div class="Grid-item medium-u-sizeOneHalf large-u-sizeOneThird">
              <h2>Who am I?</h2>
              <p>I’m a front-end developer and versatile digital artist. I’m into building websites and creating content for real-time rendering, film and animation. I’m also a bearded hacker making games with my friends.</p>
              <p>For more details <a href="{{ site.url }}/files/lebenslauf-manuel-wieser.pdf">see my résumé</a>, which is currently only available in German, I’m afraid.</p>
            </div>

            <div class="Grid-item medium-u-sizeOneHalf large-u-sizeOneThird">
              <h2 id="contact">Contact</h2>
              <p>Do you have an interesting idea? Do you need code and graphics to realize that idea? Then send a message to <span class="js-mailto js-mailto--inquiry"></span> right away.</p>
              <p>If you just want to say “Hello!” you can use one of the services listed below.</p>

              <ul class="Footer-linkList">
                <li class="Footer-linkList-item">
                  <a href="http://twitter.com/manuelwieser"><i class="icon-twitter"></i> Twitter</a>
                </li>
                <li class="Footer-linkList-item">
                  <a href="skype:lorti88?chat"><i class="icon-skype"></i> Skype</a>
                </li>
                <li class="Footer-linkList-item">
                  <a href="http://www.facebook.com/mmwieser"><i class="icon-facebook"></i> Facebook</a>
                </li>
                <li class="Footer-linkList-item">
                  <a href="http://plus.google.com/114312400354600805747"><i class="icon-google"></i> Google+</a>
                </li>
                <li class="Footer-linkList-item">
                  <a href="https://github.com/Lorti"><i class="icon-github"></i> GitHub</a>
                </li>
                <li class="Footer-linkList-item">
                  <a href="http://www.xing.com/profile/Manuel_Wieser2"><i class="icon-xing"></i> XING</a>
                </li>
              </ul>
            </div>

            <div class="Grid-item medium-u-pushOneHalf large-u-pushDisabled">
              <h2 class="u-hidden large-u-block large-u-transparent">Imprint</h2>
              <p class="h-card vcard">
                <strong class="p-name fn n">
                  <span class="p-given-name given-name">Manuel</span>
                  <span class="p-additional-name family-name">Wieser</span>,
                  <span class="p-honorific-suffix honorific-suffix">BSc MA</span>
                </strong><br>
                <span class="p-job-title role">Front-End Developer & Digital Artist</span><br>
                <span class="p-adr adr">
                  <span class="p-street-address street-address">Südtirolerstraße 26</span><br>
                  <span class="p-postal-code postal-code">4020</span> <span class="p-locality locality">Linz</span><br>
                  <span class="p-country-name country-name">Austria</span>
                </span><br>
                <span class="p-tel tel">+43 650 216 98 01</span><br>
                <span class="js-mailto"></span><br>
                <a href="http://www.manuelwieser.com/" class="u-url url">http://www.manuelwieser.com/</a>
              </p>
            </div>
          </div>

        </div>
        <p class="Footer-copyright u-row">© 2014 Manuel Wieser<br>The source code of this website is <a href="https://github.com/Lorti/2014">available on GitHub</a>.</p>
      </footer>

    <script src="{{ site.url }}/js/curl.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>
  </body>
</html>
